.search-results-filters-container {
  display: flex;
  justify-content: center;
}

.checkbox {
  margin-left: 10px;
  margin-top: 10px;
}

.check-boxes {
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-size: large;
  flex-wrap: wrap;
}
