.food-card {
  height: 250px;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: lightgrey solid;
  border-radius: 15px;
  background-color: white;
}

.food-card-image {
  height: 150px;
  width: 150px;
}

.food-card-add-item-button {
  background-color: #E5F6D7;
  border-width: 1px;
  border-radius: 10px;
  cursor: pointer;
}

.food-card-add-item-button:hover {
  background-color: #BCD8A4;
}
