.hero {
  height: auto;
  width: 100vw;
}

.hero-text {
  line-height: 1.6;
}

.hero-features {
  height: 100%;
  display: flex;
  text-align: left;
}

.hero-features-right {
  border-left: lightgray solid;
}

.hero-features-left,
.hero-features-right {
  padding: 0 25px;
}
