.confirmation {
   /* Style me! */
}

.confirmation-container {
 /* Style me! */
}

.confirmation-item {
  padding: 15px;
  height: 225px;
  width: 100%;
}

.confirmation-image {
  height: 150px;
  width: 150px;
}
