.header {
  height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #BCD8A4;
}

.header-content-container {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-cart-logo {
  height: 75px;
  width: 75px;
}

.header-cart-img-container {
  height: 45px;
  width: 45px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-cart-img-container-pulse {
  animation: pulse 2s infinite;

}

.header-cart-img {
  height: 35px;
  width: 35px;
}

.header-cart-logo:hover {
  cursor: pointer;
}

.header-cart-img:hover {
  cursor: pointer;
}

@keyframes pulse {
  0%, 100% {
    background-color: #BCD8A4;
  }
  50% {
    background-color: #E5F6D7;
  }
}
