.footer {
  height: 10vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-info {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-name {
  margin-right: 15px;
}